<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>665235210465-sa1io1hi1112b222qp5d41t1rjp290dp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.665235210465-sa1io1hi1112b222qp5d41t1rjp290dp</string>
	<key>API_KEY</key>
	<string>AIzaSyApryzTKCbb-9EQKqFsK7HuGzxz1SFf-OI</string>
	<key>GCM_SENDER_ID</key>
	<string>665235210465</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.bikeTourApp</string>
	<key>PROJECT_ID</key>
	<string>londoncyclee</string>
	<key>STORAGE_BUCKET</key>
	<string>londoncyclee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:665235210465:ios:42bc22c6f19cdf8a3f77a0</string>
</dict>
</plist>
